<div class="ngoc-homepage">
  <div class="ngoc-header" id="menu-general">
    <h1>Ngoc Le | Conceptrice et Développeuse Web et Applications mobiles</h1>

    <div class="menu">
      <button mat-button>
        <a href="#projects"
          ><i class="material-icons">
            web
          </i></a
        >
      </button>

      <button mat-button>
        <a href="#skills"
          ><i class="material-icons">
            list_alt
          </i></a
        >
      </button>
      <button mat-button>
        <a href="#contact"
          ><i class="material-icons">
            mail_outline
          </i></a
        >
      </button>
    </div>
  </div>
</div>
