<div id="skills" class="ngoc-competences">
  <div class="competences">
    <h3>Mes compétences</h3>
    <!--       <div>
      <p class="sub-title">6 mois d'expérience</p>
    </div> -->
    <div class="competences-details">
      <ul>
        <li>Etude du besoin client</li>
        <li>Cahier des charges</li>
        <li>Maquettage</li>
        <li>Développement de site internet et déploiement sur OVH</li>
        <li>
          Développement d’applications mobiles et déploiement sur PlayStore
        </li>
      </ul>
    </div>
    <div class="img-parcours">
      <img src="../../../assets/icons/angular.png" alt="" />
      <img src="../../../assets/icons/html.png" alt="" />
      <img src="../../../assets/icons/css.png" alt="" />
      <img src="../../../assets/icons/typescript.png" alt="" />
      <img src="../../../assets/icons/js.png" alt="" />
      <img src="../../../assets/icons/firebase.png" alt="" />
      <img src="../../../assets/icons/ionic.png" alt="" />
      <img src="../../../assets/icons/java.png" alt="" />
      <img src="../../../assets/icons/android-studio.png" alt="" />
    </div>
  </div>
</div>
