.mentions-legales-container {
  padding: 50px;

  h4 {
    text-align: center;
  }
  .mentions-legales {
    font-size: 0.9em;
    padding: 20px;
    font-size: 0.9em;
    background-color: white;
    .back-website {
      text-align: right;
      img {
        margin-top: 20px;
      }
    }
  }
}
