<div class="mentions-legales-container">
  <div class="mentions-legales">
    <h4>Mentions légales</h4>
    <p>
      Ce site a été créé et développé par Ngoc Le pour sa société du même nom.
    </p>
    <p>Numéro Siret : 87771558100014</p>
    <p>Toute reproduction ou copie sans autorisation est interdite.</p>

    <p>
      Les icones proviennent du site
      <a href="https://www.flaticon.com/">https://flaticon.com/</a> et
      <a href="https://pixabay.com/fr/">https://pixabay.com/</a>
    </p>

    <p>
      Pour contacter Ngoc Le :
      <a href="mailto:ngocmess@gmail.com">ngocmess@gmail.com</a>
    </p>

    <div class="back-website">
      <img
        routerLink="/home"
        src="../../assets/icons/back.png"
        alt=""
        width="40px"
      />
    </div>
  </div>
</div>
