<div class="ngoc-qui-quis-je" id="contact">
  <div>
    <h3>Qui suis-je ?</h3>
    <p>
      Après avoir passé 7 ans dans le domaine du recrutement dans le secteur
      pétrolier. J'ai décidé de poursuivre ma passion dans le développement web
      en 2019.
    </p>
  </div>

  <div class="ngoc-contact">
    <div class="linkedin">
      <a href="https://www.linkedin.com/in/lethingoc/"
        ><img
          class="linkedin-img"
          src="../../assets/icons/linkedin.png"
          alt="logo de linkedin"
      /></a>
    </div>
    <div class="email">
      <a href="mailto:ngocmess@gmail.com"
        ><img
          class="email-img"
          src="../../assets/icons/email.png"
          alt="image d'une enveloppe"
      /></a>
    </div>
    <div class="email">
      <a href="tel:+33625935608"
        ><img
          class="email-img"
          src="../../assets/icons/call.png"
          alt="image d'un téléphone"
      /></a>
    </div>
  </div>
</div>
